# Indirect
# --------
alabaster==1.0.0
attrs==25.4.0
babel==2.17.0
certifi==2026.1.4
charset-normalizer==3.4.4
deepmerge==2.0
docutils==0.21.2
idna==3.11
imagesize==1.4.1
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.2.0
packaging==25.0
picobox==4.0.0
Pygments==2.19.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
# Sphinx 8.2.3 requires roman-numerals-py which is a deprecated
# package which itself requires roman-numerals. The next sphinx (9.0.0)
# requires roman-numerals directly.
roman-numerals==4.1.0
roman-numerals-py==4.1.0
rpds-py==0.30.0
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinx_mdinclude==0.6.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
typing_extensions==4.15.0
urllib3==2.6.3

# Direct
# ------

Sphinx==8.2.3

# RTD theme
sphinx-rtd-theme==3.0.2

# MarkDown support
myst-parser==4.0.1

# OpenAPI support
sphinxcontrib-openapi==0.8.4


# Application sources
# -------------------

git+https://gitlab.tuni.fi/fsd/kuha_common@master#egg=kuha_common
git+https://gitlab.tuni.fi/fsd/kuha_document_store@master#egg=kuha_document_store
git+https://gitlab.tuni.fi/fsd/kuha_oai_pmh_repo_handler@master#egg=kuha_oai_pmh_repo_handler
git+https://gitlab.tuni.fi/fsd/kuha_client@master#egg=kuha_client

# Use editable installs since we're using *.md docs from these repos in documentation

-e git+https://github.com/cessda/cessda.cdc.aggregator.shared-library@0.10.0#egg=cdcagg_common
-e git+https://github.com/cessda/cessda.cdc.aggregator.doc-store@0.7.0#egg=cdcagg_docstore
-e git+https://github.com/cessda/cessda.cdc.aggregator.oai-pmh-repo-handler@0.10.0#egg=cdcagg_oai
-e git+https://github.com/cessda/cessda.cdc.aggregator.client@0.11.0#egg=cdcagg_client

